[submodule "algorithms_rust"]
	path = algorithms_rust
	url = https://github.com/dorname/algorithms_rust.git
[submodule "mini-evm"]
	path = mini-evm
	url = https://github.com/dorname/mini-evm.git
[submodule "mini-db"]
	path = mini-db
	url = https://github.com/dorname/mini-db.git
